.myclass {
  font-weight: bold;
  font-size: 50px;
  color: red;
}


.nav-item .active{
  font-weight: bold;
  color: blueviolet !important;
  border-bottom: 2px solid blueviolet;
  max-width: fit-content;
}

.login-bg{
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}