.myclass {
  font-weight: bold;
  font-size: 50px;
  color: red;
}


.nav-item .active{
  font-weight: bold;
  color: blueviolet !important;
  border-bottom: 2px solid blueviolet;
  max-width: fit-content;
}

.login-bg{
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.login{
  color: black;
  backdrop-filter: blur(7px);
}

.upload-label{
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;


}


.gradient-custom {
  /* fallback for old browsers */
  background: #d299c2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(210,153,194,0.5), rgba(254,249,215,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(4, 53, 22, 0.5), rgba(254,249,215,0.5))
}
